<header>
    <h1>Kultosh Book Store</h1>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/author">Author</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/author/create">Add Author</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/book">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/book/create">Add Book</a>
        </li>
    </ul>
</header>