<h2>Author Index</h2>

<form action="/author" method="get">
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button>Search</button>
</form>

<label for="">Title:</label>
<% authors.forEach(author => {%>
<div><%= author.name %></div>
<%}) %>